In [10]:
import dask.dataframe as dd
import polars as pl
import polars.selectors as ps

# USANDO DASK

In [11]:
df_dd = dd.read_csv(
    './dados/*.csv',
    encoding='latin',
    assume_missing=True,
    dtype={
        'RELIGIAO': 'object',
        'VINCULACAO_ANO': 'object'
    }
)

In [12]:
df_dd.head()

,ANO_NASCIMENTO,PESO,ALTURA,CABECA,CALCADO,CINTURA,RELIGIAO,MUN_NASCIMENTO,UF_NASCIMENTO,PAIS_NASCIMENTO,...,ESCOLARIDADE,VINCULACAO_ANO,DISPENSA,ZONA_RESIDENCIAL,MUN_RESIDENCIA,UF_RESIDENCIA,PAIS_RESIDENCIA,JSM,MUN_JSM,UF_JSM
0,1989.0,95.0,181.0,57.0,44.0,98.0,<NA>,DESCALVADO,SP,BRASIL,...,Ensino Médio Completo,2007,Sem dispensa,Urbana,PIRASSUNUNGA,SP,BRASIL,5/93 - PIRASSUNUNGA,PIRASSUNUNGA,SP
1,1989.0,64.0,173.0,57.0,41.0,76.0,<NA>,CATANDUVA,SP,BRASIL,...,Ensino Superior Completo,2007,Sem dispensa,Urbana,SAO PAULO,SP,BRASIL,4/94 - SAO PAULO (BUTANTA),SAO PAULO,SP
2,1989.0,82.0,171.0,58.0,41.0,94.0,<NA>,CATANDUVA,SP,BRASIL,...,Ensino Médio Completo,2007,Sem dispensa,Urbana,CATANDUVA,SP,BRASIL,5/27 - CATANDUVA,CATANDUVA,SP
3,1989.0,NaN,NaN,NaN,NaN,NaN,<NA>,SANTO ANDRE,SP,BRASIL,...,Ensino Médio Completo,2007,Sem dispensa,Urbana,PIRAJUI,SP,BRASIL,6/127 - PIRAJUI,PIRAJUI,SP
4,1989.0,NaN,NaN,NaN,NaN,NaN,<NA>,PIRAJUI,SP,BRASIL,...,3ª Série do Ensino Médio,2007,Sem dispensa,Urbana,PIRAJUI,SP,BRASIL,6/127 - PIRAJUI,PIRAJUI,SP

In [13]:
df_dd.columns

Index(['ANO_NASCIMENTO', 'PESO', 'ALTURA', 'CABECA', 'CALCADO', 'CINTURA',
       'RELIGIAO', 'MUN_NASCIMENTO', 'UF_NASCIMENTO', 'PAIS_NASCIMENTO',
       'ESTADO_CIVIL', 'SEXO', 'ESCOLARIDADE', 'VINCULACAO_ANO', 'DISPENSA',
       'ZONA_RESIDENCIAL', 'MUN_RESIDENCIA', 'UF_RESIDENCIA',
       'PAIS_RESIDENCIA', 'JSM', 'MUN_JSM', 'UF_JSM'],
      dtype='object')

In [14]:
df_dd = df_dd.drop(columns={
    'ANO_NASCIMENTO',
    'PESO',
    'ALTURA',
    'CABECA', 
    'CALCADO', 
    'CINTURA',
    'RELIGIAO',
    'JSM',
    'MUN_JSM', 
    'UF_JSM',
    'MUN_NASCIMENTO',
    'UF_NASCIMENTO',
    'PAIS_NASCIMENTO',
    'MUN_RESIDENCIA',
    'UF_RESIDENCIA',
    'PAIS_RESIDENCIA',
    'ZONA_RESIDENCIAL'
})

In [15]:
df_dd.dtypes

ESTADO_CIVIL      string[pyarrow]
SEXO              string[pyarrow]
ESCOLARIDADE      string[pyarrow]
VINCULACAO_ANO    string[pyarrow]
DISPENSA          string[pyarrow]
dtype: object

In [16]:
dd.to_parquet(
    df_dd, 
    './dados_parquet/', 
    engine='pyarrow', 
    write_index=False
)

# USANDO POLARS

In [17]:
df_pl = pl.read_parquet('./dados_parquet/')

In [18]:
df_pl.head()

shape: (5, 5)
┌──────────────┬──────┬──────────────────────────┬────────────────┬──────────────┐
│ ESTADO_CIVIL ┆ SEXO ┆ ESCOLARIDADE             ┆ VINCULACAO_ANO ┆ DISPENSA     │
│ ---          ┆ ---  ┆ ---                      ┆ ---            ┆ ---          │
│ str          ┆ str  ┆ str                      ┆ str            ┆ str          │
╞══════════════╪══════╪══════════════════════════╪════════════════╪══════════════╡
│ Solteiro     ┆ M    ┆ Ensino Médio Completo    ┆ 2007           ┆ Sem dispensa │
│ Casado       ┆ M    ┆ Ensino Superior Completo ┆ 2007           ┆ Sem dispensa │
│ Solteiro     ┆ M    ┆ Ensino Médio Completo    ┆ 2007           ┆ Sem dispensa │
│ Solteiro     ┆ M    ┆ Ensino Médio Completo    ┆ 2007           ┆ Sem dispensa │
│ Solteiro     ┆ M    ┆ 3ª Série do Ensino Médio ┆ 2007           ┆ Sem dispensa │
└──────────────┴──────┴──────────────────────────┴────────────────┴──────────────┘